{% extends "_layout" %}
{% set title = "Home" %}

{% block body %}

<main>
    <section class="col-full">
  <article>
      <h1>{{ entry.title }}</h1>
      <div>
        <p>{{ entry.blogExcerpt }}</p>
      </div>
      <div class="post-meta">
      Posted on {{ entry.postDate|date('long') }}
      </div>

      <div>
        {{ entry.blogBody }}

        <img src="{{ entry.blogImage[0].url }}" alt="{{ entry.title }}" />



        {% for block in entry.blogContent.with(':blogImgMx').all() %}

          {{ block.blogCode }}

          {% if block.blogImgMx[0] is defined %}
            <img src="{{ block.blogImgMx[0].url }}" width="" height="" alt="{{ block.blogImgMx[0].filename }}">
          {% endif %}

          {% endfor %}

      </div>


  </article>

</section>
</main>

{% endblock %}