{% extends "_layouts/_layout-main" %}

{% set title = "Home" %}

{% block body %}
<main>
    <section class="col-full">
{% paginate craft.entries.section('blog').limit(4) as pageInfo, pageEntries  %}

{% for entry in pageEntries %}
    <article>
        <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
        {{ entry.blogExcerpt }}
    </article>
{% endfor %}
<a href="{{ pageInfo.firstUrl }}">First Page</a>
{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous Page</a>{% endif %}
{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next Page</a>{% endif %}
<a href="{{ pageInfo.lastUrl }}">Last Page</a>

</section>
</main>


{% endblock %}


