<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ siteName }}</title>
  <link rel="stylesheet" href="{{ siteUrl }}assets/css/style.css">
  <link rel="stylesheet" href="https://use.typekit.net/oyw5uxy.css">
  <link rel="stylesheet" href="{{ siteUrl }}assets/css/prism.css">
  <script src="assets/js/smoothscroll.js"></script>
</head>
<body class="site">

  <a href="#main" class="js-scroll-into-main">Skip to main content</a>

  <header id="header" class="site-header" role="banner">
    <section class="site-branding">
      <a href="{{ siteUrl }}"><img src="{{ siteUrl }}assets/img/joshgreendesign-logo.svg" alt="Josh Green Design logo" class="site-logo"></a>
    </section>
    <section class="site-navigation">
      <nav>
        <ul>
          <li><a href="/">Homepage</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </section>
  </header><!-- /header -->

  <main id="main" role="main" class="site-content">
  {% block body %}

  {% endblock %}
  </main> <!--@main-->

  <div class="js-test">
    <p>
      this is the javascript test area
    </p>
  </div>

  <div class="stt"><a href="" id="backToTop" class="scroll-to-top"></a></div>
  <footer class="site-footer" role="contentinfo">
    <p>The current time is {{ now|date("g:i a") }}.</p>
    <p>&copy;2014 - {{ now|date("Y") }}</p>
  </footer>

  <div class="example-box">Hello World!</div>
  <script src="{{ siteUrl }}assets/js/all.js" defer></script>

  <script>
    window.addEventListener('load', function () {
      // scroll to top
      document.querySelector('.scroll-to-top').addEventListener('click', function (e) {
        e.preventDefault();
        document.querySelector('.site-header').scrollIntoView({ behavior: 'smooth' });
      });

      // scroll into view
      document.querySelector('.js-scroll-into-main').addEventListener('click', function (e) {
        e.preventDefault();
        document.querySelector('#main').scrollIntoView({ behavior: 'smooth' });
      });

    });
  </script>

  <script src="assets/js/prism.js"></script>
</body>
</html>